.no-ripple {
  --ripple-color: transparent
}

.flex {
  display: flex
}

.flex-inline {
  display: inline-flex !important
}

.position-relative {
  position: relative;
}

.popover-search-results .popover-content {
  max-width: unset !important;
  /* width: 95vw !important;
    left: 2.5vw !important; */
  width: 100vw !important;
  left: 0vw !important;
  max-height: unset !important;
  /* height: 95vh !important;
    top: 2.5vh !important; */
  height: 100vh !important;
  top: 0vh !important;
}

.popover-search-results .popover-content .search-result ion-grid {
  padding: calc(var(--ion-padding, 15px) * 0.6);
  padding-left: 0
}

.item-category {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(var(--ion-color-primary-rgb), .2) !important;
  border-radius: 0 !important;
  cursor: pointer;
  text-align: center
}

.item-category:hover {
  background-color: rgba(var(--ion-color-primary-rgb), .05) !important
}

/* .item-category ion-icon {
  font-size: 50px
} */

/* .searchbar {
  --icon-color: var(--ion-color-primary);
  --clear-button-color: var(--ion-color-primary);
  --cancel-button-color: var(--ion-color-primary)
} */

.in-toolbar ion-select {
  color: var(--ion-color-primary) !important
}

ion-select-popover ion-list {
  padding: 0 !important
}

/* .select-popover .popover-content {
  overflow: unset !important
} */

.select-popover .popover-content ion-list {
  margin-top: 0;
  margin-bottom: 0;
}

.select-menu,
ion-radio::part(container) {
  display: none;
}

.button-select-menu::part(native) {
  padding: 0;
  --ripple-color: transparent;
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent
}

ion-title {
  padding-inline-start: var(--ion-padding)
}

.select-interface-option.last::part(open) ::part(native) .item-native .item-inner {
  --border: none
}

.searchbar input {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .16) !important;
  border-radius: 0 !important;
  padding-inline-start: 0 !important
}

.searchbar ion-icon.searchbar-search-icon {
  display: none !important
}

.searchbar-location .searchbar-cancel-button,
.searchbar-location .searchbar-clear-button {
  left: unset;
  right: 0;
  padding-left: 0;
  padding-right: 0
}

.searchbar-location .searchbar-clear-button {
  pointer-events: none
}

.search ion-title {
  padding-inline-start: 0;
  padding-inline-end: 0
}

.unlimited-width-popover {
  --width: unset
}

.order .mini-list-item,
.request-detail .mini-list-item {
  --min-height: 25px;
  height: 25px;
  position: 'relative';
  --inner-padding-end: 0
}

.mini-divider {
  min-height: 0px;
  --padding-bottom: 5px;
}

.wrap {
  white-space: normal !important
}

.no-wrap {
  white-space: nowrap !important
}

.ellipses {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.one-line {
  overflow: visible !important;
}

.request ion-label.spaced>* {
  line-height: 1.5rem;
}

.request ion-icon {
  height: 3.5em
}

.request.select-mode ion-icon {
  padding: 0 calc(var(--ion-padding, 15px) * 1.5)
}

.request-badge {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.ion-item-archive {
  --min-height: 0;
  --padding-top: calc(var(--ion-padding, 15px) / 4);
  --padding-bottom: calc(var(--ion-padding, 15px) / 4);
  --background: var(--ion-item-background-hover,
      rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.04))
}

.popover-wide {
  --min-width: 50vw
}

.popover-item-detail {
  --width: unset;
  --height: unset;
  --max-width: 90vw
}

.popover-item-detail .popover-content {
  left: 5vw
}

.alert-custom .alert-wrapper {
  max-width: 90%;
}

.alert-custom .alert-wrapper p {
  margin: 0 0 7px 0;
  font-size: 90%
}

.alert-custom .alert-wrapper .alert-message p:last-child {
  margin: 0
}

.alert-custom button.alert-button {
  color: var(--ion-color-primary)
}

.alert-custom .alert-head * {
  color: var(--ion-color-primary)
}

.msisdn-section {
  width: 100%
}

.msisdn-section * {
  font-size: 18px;
  letter-spacing: 3px
}

.msisdn-section input {
  padding: 10px;
  width: calc(100% - 40px);
  border-width: 0
}

.msisdn-section input:focus,
.custom-input:focus {
  outline: none
}

.custom-input {
  border-width: 0;
  width: 100%
}

.fill-height {
  --min-height: 100% !important;
  min-height: 100% !important;
  height: 100% !important
}

.ion-icon-primary {
  color: var(--ion-color-primary) !important
}

.ion-icon-secondary {
  color: var(--ion-color-secondary) !important
}

.ion-action-primary {
  --background: var(--ion-color-primary) !important
}

.ion-action-secondary {
  --background: var(--ion-color-secondary) !important
}

.ion-label-primary {
  color: var(--ion-color-primary) !important
}

.ion-label-secondary {
  color: var(--ion-color-secondary) !important
}

.ion-label-danger {
  color: var(--ion-color-danger) !important
}

.ion-head h1,
.ion-head p {
  color: var(--ion-color-primary)
}

.ion-head h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.italicize {
  font-style: italic;
}

.fade-in {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

* {
  --background: #fdffff
}

form ion-item.errored {
  --border-color: var(--ion-color-danger)
}